// Custom Styles

.row {
	margin-left: 0;
	margin-right: 0;
}

// Header

#nav-trigger-close {
	cursor: pointer;
	@include transition(all 0.3s ease);
	display: none;
	color: #666;
	padding: 5px 0 0;
	width: 38px;
	height: 38px;
	position: absolute;
	right: 10px;
	top: 10px;
	font-size: 18px;
	vertical-align: middle;
	&:before {
		content: '\f00d';
		font-family: 'fontAwesome';
	}
	&:hover {
		color: $main-color;
	}
}


// home

.frame {
	h1 {
		margin-bottom: 30px;
	}
}


// About

.wedo {
	position: relative;
}

.wedo-section {
	ul {
		list-style-type: none;
		padding: 0 20px;
		> li {
			border-bottom: 1px solid #E0E0E0;
			padding: 5px 0;
			&:last-child {
				border-bottom: none;
			}
		}
	}
}

.archi-whyus {
	.row {
		margin-bottom: 100px;
		&:last-of-type {
			margin-bottom: 0;
		}
	}
	h1 {
		font-style: normal;
		color: #222;
		font: 36px/50px "Poppins", "Helvetica Neue", Helvetica, Arial, sans-serif;
		font-weight: 600;
		text-transform: uppercase;
	}
	b {
		font-style: normal;
		color: $main-color;
	}
}

.f-iconbox{
	z-index: 5;
	font-size: 14px;
	line-height: 24px;
	position: relative;
	padding-left: 96px;
	min-height: 80px;
	margin-bottom: 30px;
	.icon{
		left: 0;
		top: 7px;
		font-size: 25px;
		padding: 20px 0 0;
		text-align: center;
		border-radius: 50%;
		position: absolute;
		@include square(68px);
		border: 2px solid $main-color;
		@include transition (all, 0.4s, ease);
		@include breakpoint($screen-md-max){margin: 0 8px 0 0;}
	}
	.title{
		color: $shark;
		display: block;
		margin: 0 0 9px;
		font-size: 14px;
		font-weight: 700;
		letter-spacing: 2px;
		text-transform: uppercase;
		.dark &{color: $white;}
	}
	p{margin: 0;}
	&.large{
		font-size: 15px;
		.title{font-size: 16px;}
	}
	&.right{
		padding-left: 0;
		text-align: right;
		padding-right: 96px;
		.icon{
			right: 0;
			left: auto;
		}
	}
	&.light{
		.icon{
			color: $gainsboro;
			border-color: $gainsboro;
			.dark &{
				color: $stack;
				border-color: #494949;
			}
		}
		&:hover .icon{color: $white;}
	}
	&.radius-zero .icon{border-radius: 0;}
	&.noicon{
		padding-right: 0;
		.icon{display: none;}
	}
	&:hover .icon{color: $white;}
	&:hover .icon.border-zero{color: inherit;}
}

.nav-pills {
	border-right: 1px dashed #C1C1C1;
	> li {
		> a {
			border-radius: 0;
			padding: 20px 25px;
			border: none;
			color: #2a2a2a;
			margin-bottom: 10px;
			text-transform: uppercase;
			letter-spacing: 2px;
			font-weight: 700;
			i {
				padding-right: 5px;
			}
		}
		&.active {
			> a, a:hover, a:focus {
				background-color: transparent;
				border-color: $main-color;
				color: $main-color;
			}
		}
	}
}

.tab-pane {
	padding-top: 10px;
	h3 {
		font-weight: 200;
		font-size: 32px;
		padding-bottom: 20px;
		margin-bottom: 20px;
		border-bottom: 1px dashed;
		color: $second-color;
	}
	h4 {
		color: $main-color;
		font-size: 14px;
		text-transform: uppercase;
		font-weight: 700;
	}
	ul {
		list-style-type: none;
		padding-left: 0;
		margin-left: 0;
		li {
			font-size: 18px;
			line-height: 36px;
			&:before {
				content: '\f178';
				font-family: 'fontAwesome';
				padding-right: 5px;
				color: $main-color;
			}
		}
	}
}


.clients-carousel {
	.item {
		text-align: center;
		padding: 0 10px;
	}
	i {
		color: $main-color;
		font-size: 32px;
	}
	h3 {
		color: #2a2a2a;
		padding: 27px 0 0;
		letter-spacing: 2px;
		text-transform: uppercase;
		font: 600 13px/20px "Lato", Georgia, "Times New Roman", Times, serif;
	}
}


.footer-cent {
	.column2 address {
		line-height: 26px;
		padding-left: 15px;
		text-indent: -8px;
		i {
			padding-right: 5px;
		}
	}
	ul {
		list-style-type: none;
		padding: 0;
		margin: 0;
		li {
			border-bottom: 1px solid #3E3E3E;
			padding: 5px 0;
			&:first-child {
				padding-top: 0;
			}
			&:last-child {
				border-bottom: none;
				padding-bottom: 0;
			}
		}
	}
}

.contact-list {
	display: inline-block;
	list-style-type: none;
	padding-left: 0;
	text-align: left;
	font-size: 18px;
	line-height: 34px;
	i {
		font-size: 24px;
		padding-right: 10px;
	}
	a:hover {
		color: $main-color !important;
	}
}

.bottom-box1 {
	text-align: center;
}
.footer-bottom {
	a {
		letter-spacing: 1px;
	}
	.copyright {
		float: none;
		letter-spacing: 1px;
	}
}


/*------------------------------------------------------------------
10-10. chef carousel Styles / .chef-carousel
-------------------------------------------------------------------*/
.product-carousel{
	margin: 0 -20px 0 0;
	@include breakpoint($screen-xs-max){
		margin: 0 auto;
		max-width: 280px;
	}
}
.product{
	cursor: pointer;
	overflow: hidden;
	float: left;
	  color:$stack;
	position:relative;
	text-align: center;
	padding:0 10px 0;
	margin:0 0 30px 0;
	// width: 370px !important;
	border:1px solid $gainsboro;
	  .dark &{
			border-color: #494949;
			background: #191919;
	  }
	@include breakpoint($screen-md-max){
		margin:0 0 20px 21px;
	}
	@include breakpoint($screen-sm-max){
	}
	@include breakpoint($screen-xs-max){
		margin: 0 0 20px;
	}
	&:hover .slide-over{opacity: 1;}
	
	h3{
		color:#fff;
		position: absolute;
		left: 0;
		top: 50%;
		width: 100%;
		@include translate(0, -50%);
		margin:0;
		padding: 0 20px;
		text-transform: capitalize;
		font-weight: 700;
		text-shadow: 0 2px 15px rgba(0, 0, 0, 0.8);
	}
}
.img-box{
	overflow: hidden;
	margin:0 -10px 0;
	img{@extend %img-responsive2}
}
.title{
	display: block;
	margin: 0 0 25px;
	text-transform: uppercase;
	font-weight: 400;
}
.beans-pagination{
	position: static !important;
	li{
		padding:0 2px;
		@include vertical-align(inline-block, top);
			&.active a{background: $shark;}
		a{
			display: block;
			text-indent: -9999px;
			border-radius:50%;
				 background: $white;
			border:1px solid $shark;
			@include square(12px);
			@include transition (all, 0.4s, ease);
				 &:hover{
					  background: $shark;
					  text-decoration: none;
				 }
		}
	}
}

.slide-over{
	@extend %postionreset;
	text-align: center;
	opacity: 0;
    background: $baltic-sea;
	transition:all 0.6s ease;
	h3 {
		color: #fff;
	}
}
.slide-frame{
	display: table;
	@include square(100%);
	padding:20px 10%;
	.slide-box{
        color:$white;
		@include vertical-align(table-cell, middle);
		font-size: 13px;
		line-height:24px;
		h3{
			margin:0 0 4px;
			text-transform: capitalize;
			font:700 24px/28px $font-playfair;
			a{
                color:$white;
				transition:all 0.25s ease;
				&:hover{text-decoration: none;}
			}
		}
		p{
			margin: 0 0 20px;
			line-height: 20px;
		}
		.title{
			display: block;
			margin: 0 0 20px;
			text-transform: uppercase;
			font-weight: 400;
		}
		.slide-socials{
            margin: 0 0 50px;
            a{color:$white;}
        }
	}
}
.slide-socials{
	margin:0;
	text-align: center;
	li{
		@include vertical-align(inline-block, top);
		float: none;
		padding: 0 11px;
	}
	a{
        color:$fuscous-gray;
		font-size: 14px;
		line-height:12px;
		@include transition (all, 0.4s, ease);
		&:hover{text-decoration: none;}
	}
}

.product-bestseller {
    position: absolute;
    background: #fff;
    top: 17px;
    width: 200px;
    padding: 10px;
    right: -51px;
    -moz-transform: rotate(33deg);
	-webkit-transform: rotate(33deg);
	-o-transform: rotate(33deg);
	-ms-transform: rotate(33deg);
	transform: rotate(33deg);
    color: #9C600E;
    font-weight: 900;
    text-transform: uppercase;
    box-shadow: 0px 5px 10px rgba(66, 29, 7, 0.35);
}

.products-container {
	padding: 50px 0;
	&:first-of-type{
		padding-top: 100px;
	}
}


.remodal {
	background: transparent;
	color: #fff;
	.product-img {
		margin: 0 0 30px;
		max-width: 450px;
	}
	h1 {
		color: $main-color;
		span {
			display: block;
			font-size: 24px;
		}
	}
	h3 {
		color: lighten($second-color,10%);
		font-size: 14px;
		text-transform: uppercase;
		font-weight: 900;
		letter-spacing: 2px;
	}
	h4 {
		margin-bottom: 20px;
		a {
			-webkit-transition: all 0.3s ease;
			-o-transition: all 0.3s ease;
          transition: all 0.3s ease;
			color: darken($second-color, 20%);
			background-color: $second-color;
			padding: 5px 10px;
			font-size: 13px;
			font-weight: 700;
			&:hover {
				text-decoration: none;
				background-color: darken($second-color,10%);
			}
		}
	}
	p {
		font-size: 20px;
		line-height: 28px;
	}
}

.product-options {
	margin: 20px 0 20px;
	span {
		padding: 8px 15px;
		margin-right: 10px;
		text-transform: capitalize;
		font-weight: 700;
		line-height: 42px;
		&:last-of-type {
			margin-right: 0;
		}
		&:not([class*='veneer-']){
			color: lighten($second-color,10%);
			background: #2a2a2a;
		}
	}
}

*[class*='veneer-'] {
	color: rgba(0, 0, 0, 0.75);
	background: transparent center no-repeat;
	background-size: cover;
}

@each $veneer in redoak, birch, whitemaple, cherry, mohagany, walnut {
  .veneer-#{$veneer} {
    background-image: url('../img/veneer/#{$veneer}.jpg');
  }
}

.remodal-cancel {
	border: 2px solid $main-color;
	background: transparent;
	font-size: 16px;
	letter-spacing: 2px;
	color: $main-color;
	text-transform: uppercase;
	&:hover, &:focus {
		background: $main-color;
		color: #fff;
	}
}


.remodal-next {
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	 transition: all 0.3s ease;
	border: none;
	background: transparent;
	font-size: 24px;
	color: $main-color;
	margin-left: 10px;
	&:after {
		font-family: 'fontAwesome';
		content: '\f105';
	}
	&:hover {
		color: #fff;
	}
}

.remodal-previous {
	@extend .remodal-next;
	margin-right: 10px;
	margin-left: 0;
	&:after {
		content: '\f104';
	}
}

#contact-form-recaptcha {
	text-align: center;
	padding-bottom: 20px;
	> div > div {
		display: inline-block;
	}
}


// RESPONSIVE

@media (max-width: 1060px) {
	#nav li > a {
		letter-spacing: 1px;
	}
}

@include breakpoint($screen-sm-max){
	// Tablet
	
	#nav-trigger-close {
		display: block;
	}	
	.nav-stacked > li {
		float: left;
	}
	.nav-pills {
		border-right: none;
		border-bottom: 1px dashed #C1C1C1;
		margin-bottom: 10px;
	}
}


@include breakpoint($screen-xs-max){
	// phone
	
	.archi-columns .more {
		display: none;
	}
	
	.nav-stacked > li {
		float: left;
		> a {
			letter-spacing: 0px;
			padding: 5px 15px;
		}
	}
	
}